{% from "input/macro.njk" import govukInput %}

<div class="govuk-form-group app-filter-group-heading">
    <h4 class="govuk-heading-s app-filter-label">Turnover (&pound;)</h4>
    {{ govukInput({
        label: {
            classes: "app-filter-label",
            text: "Minimum"
            
        },
        id: "turnover-minimum",
        name: "turnover-minimum"
    }) }}

    {{ govukInput({
        label: {
            classes: "app-filter-label",
            text: "Maximum"
        },
        id: "turnover-maximum",
        name: "turnover-maximum"
    }) }}
</div>
