.timeline-table {
	border-collapse: collapse;
	font-size: 110%;
	width: 100%;
	margin: 1em 0;
}

.timeline-table tr {
	border-bottom: 1px solid #999;
}

.timeline-table tbody tr:last-of-type {
	border-bottom: none;
}

.timeline-table th {
	text-align: left;
	padding-bottom: 0.5em;
}

.timeline-table td {
	padding: 0.5em 0 0.25em 0;
}

.timeline--date-table {
	width: 25%;
}

.timeline--source-table {
	width: 20%;
}

.timeline--description-table {
	width: 55%;
}