.timeline-form {
	margin-bottom: 3.750em;
}

.timeline-form_label {
	font-size: 1.188em;
	display: block;
	font-weight: bold;
	margin-bottom: 0.526em;
}

.timeline-form_input {
	font-size: 1.188em;
	display: block;
	padding: 0.526em;
	min-width: 20em;
	margin-bottom: 0.789em;
	border: 2px solid;
}

.timeline-form_input--error {
	border: 4px solid #b10e1e;
}

.timeline-form_button {
	background-color: #00823b;
	color: #fff;
	border: none;
	box-shadow: 0 2px 0 #003618;
	line-height: 1.25;
	font-size: 1.188em;
	padding: .526315em .789473em .263157em;
}