.app-filter-group-heading {
  background-color: govuk-colour("grey-3");
  padding: 10px;
}

.app-filter-group-list {
  background-color: white;
  border-style: solid;
  border-color: govuk-colour("grey-3");
  padding: 10px;
  border-top: 0px;
  height: 8.5em;
  overflow-y: scroll;
}

.app-filter-group-details {
  margin-bottom: 0;
}

.app-collection-item {
  position: relative;
}

.app-badge {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid govuk-colour("grey-3");
  border-radius: 4px;
  padding: 2px 5px;
}

.app-form-group-no-margin {
  .govuk-form-group {
    margin-bottom: 0;
  }
}

.app-sort-select {
  width: auto;
}

.app-large-section-break {
  border-bottom: 5px solid govuk-colour("black");
}

.app-pagination-list {
  padding: 8px 16px;
  color: #005ea5;
  text-decoration: none;
  margin: 0 auto;
  width: auto;
  display: block;
}

.app-pagination-list-item {
  color: red;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f8f8f8;
}



.app-pagination-list-item.is-current {
  background: transparent;
}

.app-pagination-link {
  text-decoration: none;
  color: #005ea5;
  text-decoration: none;
  font-family: Arial,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
}

.app-aligned-center {
  text-align: center;
}

.app-collection-heading-link {
display: inline-block;
margin: 0px, 15px;
}

.app-metric-header {
  font-size: 16px;
  font-family: "nta", Arial, sans-serif;
  color: #6f777b;
}

.app-metric-value {
  font-size: 16px;
  font-family: "nta", Arial, sans-serif;
  color: black;
}

.app-metric-link {
  font-size: 16px;
  font-family: "nta", Arial, sans-serif;
  color: #005ea5;
  display: inline-block;
  margin: 0px, 15px;
}

.app-metric-potential-title {
  font-size: 16px;
  font-family: "nta", Arial, sans-serif;
  margin: 0px, 15px;
  display: block;
  color: #6f777b;
}

.app-metric-potential-data {
  font-size: 16px;
  font-family: "nta", Arial, sans-serif;
  margin: 0px, 15px;
  font-weight: bold;
}

.app-header-company {
  font-size: 19px;
  font-family: "nta", Arial, sans-serif;
  margin: 0px, 15px;
  font-weight: bold;
}

