{% from "input/macro.njk" import govukInput %}
{% from "select/macro.njk" import govukSelect %}

<article class="column-two-thirds" id="xhr-outlet">
    <article class="c-collection">
        <header>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-l govuk-!-margin-bottom-2 ">
                        <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-padding-right-2">3,341,881</span>
                        companies
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <a class="govuk-link app-pull-right govuk-!-margin-top-3  " href="#">Remove all filters</a>
                </div>

            </div>
            <hr class="govuk-section-break govuk-section-break--visible app-large-section-break">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <span class="govuk-caption-m govuk-!-margin-top-5">Page 1 of 1000</span>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                    <form method="" action="">
                        <div class="app-form-group-no-margin app-pull-right">
                            {{ govukSelect({
                                id: "sort",
                                name: "sort",
                                classes: 'govuk-!-display-inline app-sort-select',
                                label: {
                                    text: "Sort by",
                                    classes: 'govuk-!-display-inline govuk-!-margin-right-2'
                                },
                                items: [
                                    {
                                        value: "published",
                                        text: "Recently published"
                                    },
                                    {
                                        value: "updated",
                                        text: "Recently updated",
                                        selected: true
                                    },
                                    {
                                        value: "views",
                                        text: "Most views"
                                    },
                                    {
                                        value: "comments",
                                        text: "Most comments"
                                    }
                                ]
                            }) }}
                        </div>
                    </form>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">
        </header>
        <ol class="govuk-list govuk-body app-collection-list">
            <li class="app-collection-item ">
                <div class="app-collection-heading">
                    <h3 class="app-header-company govuk-!-margin-top-4">Anker International</h3>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold app-badge">South East</span>
                    <a class="app-metric-link govuk-!-margin-bottom-3" href="#">View Data Hub profile</a>
                    <span class="app-metric-potential-title">Export potential:</span>
                    <span class="app-metric-potential-data">Very high</span>
                </div>
                <div class="govuk-grid-row">
                    <ul class="govuk-grid-column-one-half govuk-list">
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">Last export evidence:</span>
                            <span class="app-metric-value govuk-!-display-inline"> April 2018</span>        
                        </li>
                        
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">DIT export wins:</span>
                            <span class="app-metric-value govuk-!-display-inline">12</span>
                        </li>
                        
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">DIT export opportunities:</span>
                            <span class="app-metric-value govuk-!-display-inline"> 6 </span>
                        </li>
                        
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">Cash in the bank:</span>
                            <span class="app-metric-value govuk-!-display-inline"> &pound;20,500,000 </span>
                        </li>
                    </ul>
                    <ul class="govuk-grid-column-one-half govuk-list">
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">HMRC export of goods:</span>
                            <span class="app-metric-value govuk-!-display-inline">7</span>
                        </li>
                        
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">HMRC import of goods:</span>
                            <span class="app-metric-value govuk-!-display-inline">1</span>
                        </li>
                       
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">Employee range:</span>
                            <span class="app-metric-value govuk-!-display-inline">1 to 15</span>
                        </li>
                        
                        <li>
                            <span class="app-metric-header govuk-!-display-inline">Turnover:</span>
                            <span class="app-metric-value govuk-!-display-inline">&pound;42,000,000</span>
                        </li>
                    </ul>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </li>
        </ol>

<div class="app-aligned-center">
    <ul class="app-pagination-list"> 
            
        <li class="app-pagination-list-item is-current"> 
            <a class="app-pagination-link" href=""> 1 
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> 2
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> 3
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> 4 
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> ...
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> 1000
            </a>
        </li>

        <li class="app-pagination-list-item"> 
            <a class="app-pagination-link" href=""> Next
            </a>
        </li>

    </ul>
</div>

    </article>
</article>
