{% from "input/macro.njk" import govukInput %}
{% from "select/macro.njk" import govukSelect %}

<article class="column-two-thirds" id="xhr-outlet">
    <article class="c-collection">
        <header>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-l govuk-!-margin-bottom-2 ">
                        <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-padding-right-2">3,341,881</span>
                        companies
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <a class="govuk-link app-pull-right govuk-!-margin-top-3  " href="#">Remove all filters</a>
                </div>

            </div>
            <hr class="govuk-section-break govuk-section-break--visible app-large-section-break">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <span class="govuk-caption-m govuk-!-margin-top-5">Page 1 of 1000</span>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                    <form method="" action="">
                        <div class="app-form-group-no-margin app-pull-right">
                            {{ govukSelect({
                                id: "sort",
                                name: "sort",
                                classes: 'govuk-!-display-inline app-sort-select',
                                label: {
                                    text: "Sort by",
                                    classes: 'govuk-!-display-inline govuk-!-margin-right-2'
                                },
                                items: [
                                    {
                                        value: "published",
                                        text: "Recently published"
                                    },
                                    {
                                        value: "updated",
                                        text: "Recently updated",
                                        selected: true
                                    },
                                    {
                                        value: "views",
                                        text: "Most views"
                                    },
                                    {
                                        value: "comments",
                                        text: "Most comments"
                                    }
                                ]
                            }) }}
                        </div>
                    </form>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">
        </header>
        <ol class="govuk-list govuk-body app-collection-list">
            <li class="app-collection-item">
                <div class="app-collection-heading">
                    <h3 class="govuk-heading-m govuk-!-margin-top-4">Anker International</h3>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold app-badge">South East</span>
                    <a class="govuk-link" href="#">View Data Hub profile</a>
                    <span class="govuk-caption-m">Export potential:</span>
                    <span class="govuk-body govuk-!-font-size-24">Very high</span>
                </div>
                <div class="govuk-grid-row">
                    <ul class="govuk-grid-column-one-half govuk-list">
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">Last export evidence:</span>
                            April 2018
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">DIT export wins:</span>
                            12
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">DIT export opportunities:</span>
                            6
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">Cash in the bank:</span>
                            &pound;20,500,000
                        </li>
                    </ul>
                    <ul class="govuk-grid-column-one-half govuk-list">
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">HMRC export of goods:</span>
                            7
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">HMRC import of goods:</span>
                            1
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">Employee range:</span>
                            1 to 15
                        </li>
                        <li>
                            <span class="govuk-caption-m govuk-!-display-inline">Turnover:</span>
                            &pound;42,000,000
                        </li>
                    </ul>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </li>
        </ol>


        <nav class="c-pagination" aria-label="pagination: total 1000 pages">
            <ul class="c-pagination__list">
                <li class="c-pagination__list-item"><a href="?sortby=date%3Adesc&amp;page=1"
                                                       class="c-pagination__label is-current">1</a></li>
                <li class="c-pagination__list-item"><a href="?sortby=date%3Adesc&amp;page=2"
                                                       class="c-pagination__label">2</a></li>
                <li class="c-pagination__list-item"><a href="?sortby=date%3Adesc&amp;page=3"
                                                       class="c-pagination__label">3</a></li>
                <li class="c-pagination__list-item"><a href="?sortby=date%3Adesc&amp;page=4"
                                                       class="c-pagination__label">4</a></li>
                <li class="c-pagination__list-item"><span
                            class="c-pagination__label c-pagination__label--truncation">?</span></li>
                <li class="c-pagination__list-item"><a href="?sortby=date%3Adesc&amp;page=1000"
                                                       class="c-pagination__label">1000</a></li>
            </ul>
            <a href="?sortby=date%3Adesc&amp;page=2" class="c-pagination__label c-pagination__label--next">Next</a>
        </nav>


.app-pagination
    .app-pagination-list
        app-pagination-list-item

        
        <nav>
            <ul>
                <li>
                <a href
                1
                </li>

                
            </ul>
        </nav>
    </article>
</article>
