{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}

<div class="govuk-form-group">
    <div class=" filter-group-heading">
        {{ govukLabel({
            text: "UK regions",
            classes: "govuk-!-font-weight-bold"
        }) }}
    </div>
    <div class="filter-group-list">
        {{ govukCheckboxes({
            idPrefix: "uk-regions",
            name: "uk-regions",

            items: [
                {
                    value: "East of England",
                    text: "East of England"
                },{
                    value: "East Midlands",
                    text: "East Midlands"
                },{
                    value: "London",
                    text: "London"
                },{
                    value: "North East",
                    text: "North East"
                },{
                    value: "North West",
                    text: "North West"
                },{
                    value: "South East",
                    text: "South East"
                },{
                    value: "South West",
                    text: "South West"
                },{
                    value: "West Midlands",
                    text: "West Midlands"
                },{
                    value: "Yorkshire and The Humber",
                    text: "Yorkshire and The Humber"
                }
            ]
        }) }}
    </div>
</div>




