{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}

<div class="govuk-form-group">
    <div class=" app-filter-group-heading">
        {{ govukLabel({
            text: "UK regions",
            classes: "govuk-!-font-weight-bold app-filter-heading"
        }) }}
    </div>
    <div class="app-filter-group-list">
        {{ govukCheckboxes({
            idPrefix: "uk-regions",
            name: "uk-regions",
            classes: "app-filter-checkboxes-group",

            items: params.ukRegions
        }) }}
    </div>
</div>




