{% from "checkbox-typeahead-fieldset/macro.njk" import checkboxTypeaheadFieldset %}

{{
    checkboxTypeaheadFieldset({
        legend: "DIT Sectors",
        searchLabel:"Search sector",
        id: "dit-sectors",
        items: params.sectors
    })
}}
