html body main button,html body main input,html body main table,html body main td,html body main th{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif}
html,body,button,input,table,td,th{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif}
html,body,div,h1,h2,h3,h4,h5,h6,article,aside,footer,header,hgroup,nav,section{margin:0;padding:0;vertical-align:baseline}
main{display:block}
html{font-size:62.5%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;background-color:#fff}
body{font-size:160%;margin:0;background:#fff;color:#0b0c0c;line-height:1.5;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
ol,ul,nav ol,nav ul{list-style:none}
fieldset{border:none;padding:0}
b,strong{font-weight:600}
img{border:0}
abbr[title]{cursor:help}
a:link{color:#005ea5}
a:visited{color:#4c2c92}
a:hover{color:#2b8cc4}
a:active{color:#2b8cc4}
a{-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
a:focus{background-color:#ffbf47;outline:3px solid #ffbf47}
input:focus,textarea:focus,select:focus,button:focus{outline:3px solid #ffbf47;outline-offset:0}
html body main button,html body main input,html body main table,html body main td,html body main th{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.ir br{display:none}
.hidden,.js-enabled .js-hidden{display:none;visibility:hidden}
.visually-hidden,.visuallyhidden{position:absolute;left:-9999em}
.visually-hidden.focusable:active,.visually-hidden.focusable:focus,.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}a{-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
a:focus{background-color:#ffbf47;outline:3px solid #ffbf47}
.skiplink{position:absolute;left:-9999em}
.skiplink:focus{left:0;z-index:1}
#skiplink-container{text-align:center;background:#0b0c0c}
#skiplink-container div{text-align:left;margin:0 auto;max-width:1020px}
#skiplink-container .skiplink{display:-moz-inline-stack;display:inline-block;margin:0.75em 0 0 30px}
input:focus,textarea:focus,select:focus,button:focus{outline:3px solid #ffbf47}

.global-header__inner,
.page-content {
  max-width: 960px;
  margin: 0 15px;
}
@media (min-width: 641px) {
	.global-header__inner,
	.page-content {
  		margin: 0 30px;
	}
}
@media (min-width: 1020px) {
	.global-header__inner,
	.page-content {
	  margin: 0 auto;
	}
}

.global-header {
  background-color: #0b0c0c;
  color: #fff;
}

.global-header__inner {
  padding: 8px 0;
}
.global-header__inner:after {
    clear: both;
    content: "";
    display: table;
}

@media (min-width: 641px) {
  .global-header__site-title {
    float: left;
   }
}

.global-header__site-title .phase-badge {
  margin-top: 5px;
}

.global-header__link {
  display: inline-block;
  color: inherit !important;
  text-decoration: none;
  padding: 0;
  position: relative;
  margin: 0 12px 0 0;
}

.global-header__link:hover,
.global-header__link:visited,
.global-header__link:focus {
    color: inherit;
}

.global-header__logo {
  border-bottom: 1px solid transparent;
  margin-left: -4px;
}

.global-header__link:hover .global-header__logo {
  border-color: #fff;
}

.global-header__site-name {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.global-header__service-name {
  font-family: "Arial", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.04167;
  color: inherit;
  line-height: 1;
  white-space: nowrap;
}

@media (min-width: 641px) {
	.global-header__service-name {
	  font-size: 36px;
	  line-height: 1.11111;
  }
}
@media (min-width: 641px) {
	.global-header__service-name {
	  line-height: 1;
	  font-size: 30px;
  }
}

.global-header__site-title .phase-badge {
  margin-top: 5px;
}

  span.phase-badge {
  font-family: "Arial", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 12px;
  line-height: 1.25;
  background-color: #005ea5;
  color: #fff;
  cursor: default;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 8px 0 0;
  padding: 3px 5px;
  vertical-align: top;
}
  @media (min-width: 641px) {
    span.phase-badge {
      font-size: 14px;
      line-height: 1.42857;
      }
  }
  @media (min-width: 641px) {
    span.phase-badge {
      line-height: 1;
      }
  }

.proposition-menu {
  font-family: "Arial", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 12px;
  line-height: 1.25;
  color: #fff !important;
  margin: 0;
  padding: 4px 0 0;
}
  @media (min-width: 641px) {
    .proposition-menu {
      font-size: 14px;
      line-height: 1.42857;
      font-family: "Arial", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
      font-weight: 700;
      text-transform: none;
      float: right;
      }
  }
  @media (min-width: 641px) and (min-width: 641px) {
    .proposition-menu {
      font-size: 16px;
      line-height: 1.25;
    }
  }

.proposition-menu__item {
  border-bottom: 1px solid #6f777b;
  display: block;
}
  @media (min-width: 641px) {
    .proposition-menu__item {
      border-bottom: 0;
      float: left;
      padding-left: 16px;
  }
    .proposition-menu__item:first-child {
        padding-left: 0;
        }
    }

.proposition-menu__link {
  color: inherit !important;
  display: block;
  padding: 8px 0;
  text-decoration: none;
}
  @media (min-width: 641px) {
    .proposition-menu__link {
      padding: 0;
    }
  }
  .proposition-menu__link:active, .proposition-menu__link:visited, .proposition-menu__link:hover {
    color: inherit;
}
  .proposition-menu__link:hover {
    text-decoration: underline;
}
  .proposition-menu__link.is-active {
    color: #2b8cc4;
}

.top-nav {
  border-bottom: 1px solid #bfc1c3;
  padding: 0.5em 0;
  margin-bottom: 1.9em;
  overflow: hidden;
}

.top-nav_list {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.top-nav_list_item {
  margin-bottom: 0.3125em;
}
  @media (min-width: 641px) {
    .top-nav_list_item {
      border-left: 1px solid #bfc1c3;
      padding-left: 0.625em;
      margin-left: 0.625em;
      margin-bottom: 0;
      display: inline-block;
  }
      .top-nav_list_item:first-of-type {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
       }
   }