{% from "date-input/macro.njk" import govukDateInput %}

<div class="govuk-form-group app-filter-group-heading">
    <h4 class="govuk-heading-s app-filter-heading">Latest export evidence</h4>
    {{ govukDateInput({
        id: "export-evidence-start-date",
        namePrefix: "export-evidence-start-date",
        classes: "app-filter-dateinput-group",    
        fieldset:  {
            legend: {
                text: "Start date",
                classes: "app-filter-label"
                
            }
        }
    }) }}
    {{ govukDateInput({
        id: "export-evidence-end-date",
        namePrefix: "export-evidence-end-date",
        classes: "app-filter-dateinput-group", 
        fieldset: {
            legend: {
                text: "End date",
                classes: "app-filter-label"
            }
        }
    }) }}
</div>





