{% from "back-link/macro.njk" import govukBackLink %}
{% from "filter-company-name/macro.njk" import filterCompanyName %}
{% from "filter-commodity-code/macro.njk" import filterCommodityCode %}
{% from "filter-sic-codes/macro.njk" import filterSicCodes %}
{% from "filter-turnover/macro.njk" import filterTurnover %}
{% from "filter-export-potential/macro.njk" import filterExportPotential %}
{% from "filter-service-used/macro.njk" import filterServiceUsed %}
{% from "filter-uk-regions/macro.njk" import filterUkRegions %}
{% from "filter-market-of-interest/macro.njk" import filterMarketOfInterest %}
{% from "filter-market-exported-to/macro.njk" import filterMarketExportedTo %}
{% from "filter-latest-export-evidence/macro.njk" import filterLatestExportEvidence %}
{% from "render-collection/macro.njk" import renderCollection %}

{% extends "layout.njk" %}

{% block beforeContent %}
    {{ govukBackLink({
        "href": "/"
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Prospects</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <form action="">
                {{ filterCompanyName({}) }}
                {{ filterExportPotential({}) }}
                {{ filterCommodityCode({}) }}
                {{ filterLatestExportEvidence({}) }}
                {{ filterSicCodes({}) }}
                {{ filterTurnover({}) }}
                {{ filterMarketOfInterest({}) }}
                {{ filterMarketExportedTo({}) }}
                {{ filterServiceUsed({}) }}
                {{ filterUkRegions({}) }}
            </form>
        </div>
        <div class="govuk-grid-column-two-thirds">
            {{ renderCollection({}) }}
        </div>
    </div>
{% endblock %}
