{% extends 'layout.njk' %}

{% set pageName='Advanced Company Search' %}

{% block head %}
	{{ super() }}
	<!-- build:css(src) /public/css/acs.min.css -->
		<link rel="stylesheet" href="/public/css/acs.css">
	<!-- endbuild -->

	<!-- build:css(src) /public/css/acs.vendor.min.css -->
		<link rel="stylesheet" href="/public/css/vendor/bootstrap-3.0.0.min.css">
		<link rel="stylesheet" href="/public/css/vendor/bootstrap-datetimepicker-4.17.37.min.css">
		<link rel="stylesheet" href="/public/css/vendor/bootstrap-select-1.12.4.min.css">
		<link rel="stylesheet" href="/public/css/vendor/bootstrap-toggle-2.2.2.min.css">
	<!-- endbuild -->
{% endblock %}

{% block body_end %}
	{{ super() }}

	<!-- build:js(src) /public/js/vendor.min.js -->
		<script src="/public/js/vendor/jquery-1.10.2.min.js"></script>
		<script src="/public/js/vendor/jquery.bootpag.min.js"></script>
		<script src="/public/js/vendor/moment.2.10.6.min.js"></script>

		<script src="/public/js/vendor/bootstrap-3.0.0.min.js"></script>
		<script src="/public/js/vendor/bootstrap-datetimepicker-4.17.37.min.js"></script>
		<script src="/public/js/vendor/bootstrap-select-1.12.4.min.js"></script>
		<script src="/public/js/vendor/bootstrap-toggle-2.2.2.min.js"></script>
	<!-- endbuild -->

	<!-- build:js(src) /public/js/acs.min.js -->
		<script src="/public/js/acs.js"></script>
		<script src="/public/js/acs.utils.js"></script>
		<script src="/public/js/acs.map.js"></script>
		<script src="/public/js/acs.info.js"></script>
		<script src="/public/js/acs.search.js"></script>
	<!-- endbuild -->

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxL_hAm4mfaqsihhdqP3Z5syixcxjBmYM&callback=acs.map.init" async defer></script>
{% endblock %}

{% block page_content %}

	<h2 class="page-heading">Company Finder</h2>

	<div id="mapTab" class="container">

		<ul class="nav nav-pills">
			<li class="active">
				<a href="#1" data-toggle="tab">Search</a>
			</li>
			<li>
				<a href="#2" data-toggle="tab">Company Info</a>
			</li>
			<li>
				<a href="#3" data-toggle="tab">Map Visualisation</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="1">
				<h4> Search Criteria:</h4>

				<div class="container border2 search-container">
					<form class="form-horizontal" role="form" id="search_filters">
						<div class="container-fluid">
							<br>Company Details</br>
							<div class="row">
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Company Name:</span>
										<input type="text" class="form-control" name='company_name'
										       placeholder="Enter Keyword">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Post Code:</span>
										<input type="text" class="form-control" name='postcode'
										       placeholder="Enter Keyword">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Region:</span>
										<select name='region' class="selectpicker show-menu-arrow form-control" multiple
										        data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Industry (SIC):</span>
										<select name='sic_code' class="selectpicker show-menu-arrow form-control" multiple
										        data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">HQ Type:</span>
										<select name='headquarter_type' class="selectpicker show-menu-arrow form-control"
										        multiple data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Employees:</span>
										<select name='employee_range' class="selectpicker show-menu-arrow form-control"
										        multiple
										        data-max-options="1" data-live-search="true">
										</select>
									</div>
								</div>
							</div>
							<br>Company Exports</br>
							<div class="row">
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Export Evidences:</span>
										<input type="number" class="form-control" name='nb_export_evidences_min'
										       placeholder="min">
										<span class="input-group-btn" style="width:0px;"></span>
										<input type="number" class="form-control" name='nb_export_evidences_max'
										       placeholder="max">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Last Evidence:</span>
										<span class="input-group-btn" style="width:0px;"></span>

										<div class="input-group date" id='datetimepicker1' style="width:100%;">
											<input type='text' class="form-control" name='last_export_evidence_min'
											       placeholder="min date">
																						<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
										</div>
										<span class="input-group-btn" style="width:0px;"></span>

										<div class="input-group date" id='datetimepicker2' style="width:100%;">
											<input type='text' class="form-control" name='last_export_evidence_max'
											       placeholder="max date">
																						<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Market Exported:</span>
										<select name='market_exported'
										        class="selectpicker show-menu-arrow form-control"
										        multiple
										        data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Market Interest:</span>
										<select name='market_of_interest'
										        class="selectpicker show-menu-arrow form-control"
										        multiple
										        data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Products (HS):</span>
										<select name='commodity_code' class="selectpicker show-menu-arrow form-control"
										        multiple
										        data-max-options="10" data-live-search="true"
										        data-selected-text-format="count">
										</select>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Export Propensity:</span>
										<input type="text" class="form-control" name='export_propensity_min'
										       placeholder="min">
										<span class="input-group-btn" style="width:0px;"></span>
										<input type="text" class="form-control" name='export_propensity_max'
										       placeholder="max">
									</div>
								</div>
							</div>
							<br>Company Financials</br>
							<div class="row">
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Current Assets:</span>
										<input type="text" class="form-control" name='current_assets_min'
										       placeholder="min">
										<span class="input-group-btn" style="width:0px;"></span>
										<input type="text" class="form-control" name='current_assets_max'
										       placeholder="max">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Turnover:</span>
										<input type="text" class="form-control" name='turnover_min' placeholder="min">
										<span class="input-group-btn" style="width:0px;"></span>
										<input type="text" class="form-control" name='turnover_max' placeholder="max">
									</div>
								</div>
								<div class="col-lg-4">
									<div class="input-group">
										<span class="input-group-addon">Shareholder Funds:</span>
										<input type="text" class="form-control" name='shareholder_funds_min'
										       placeholder="min">
										<span class="input-group-btn" style="width:0px;"></span>
										<input type="text" class="form-control" name='shareholder_funds_max'
										       placeholder="max">
									</div>
								</div>
							</div>
							<div class="additional-form-items">
								<div class="row">
									<div class="col-sm-3">
										<div class="form-group">
											<label for="">Results per page:</label>
											<select name="nb_pages" class="selectpicker form-control">
												<option value=10>10 results per page</option>
												<option value=100>100 results per page</option>
												<option value=500>500 results per page</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">
										<div class="form-group">
											<label for="" class="sr-only">Sort by:</label>
											<select name="sort_field" class="selectpicker form-control" multiple data-max-options="1"
											        title="Select a sort field">
												<option value='company_name'>Company Name</option>
												<option value='postcode'>Postcode</option>
												<option value='region'>Region</option>
												<option value='nb_export_evidences'>Nb Export Evidences</option>
												<option value='last_export_evidence'>Last Export Evidence</option>
												<option value='export_codes'>Export Codes</option>
												<option value='sic_codes'>Sic Codes</option>
												<option value='current_assets'>Current Assets</option>
												<option value='shareholder_funds'>Shareholder Funds</option>
												<option value='turnover'>Turnover</option>
												<option value='market_interest'>Market Interest</option>
												<option value='headquarter_type'>Headquarter Type</option>
												<option value='employee_range'>Employee Range</option>
												<option value='export_propensity'>Export Propensity</option>
												<option value='service_usage'>Service Usage</option>
											</select>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="" class="sr-only">Direction:</label>
											<input name="sort_order" type="checkbox" data-toggle="toggle" data-on="Desc" data-off="Asc">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<span class="input-group-btn">
						<button class="btn btn-default" id="search_button">Search!</button>
						<button class="btn btn-default" id="clear_button">Clear</button>
					</span>
				</div>
				<div id="search-results">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="margin-top: -5px">
								<span id="pagination"></span>
							</div>
						</div>
					</div>
					<div class="scroll">
						<table class="table table-responsive company_filter">
							<thead>
							<tr>
								<th>Company Name</th>
								<th>Postcode</th>
								<th>Region</th>
								<th>SIC Codes</th>
								<th>HQ Type</th>
								<th>Employee Range</th>
								<th>NB Export Evidences</th>
								<th>Last Export Evidence</th>
								<th>Market Exported</th>
								<th>Market Interest</th>
								<th>Export Codes</th>
								<th>Propensity to Export</th>
								<th>Current Assets</th>
								<th>Turnover</th>
								<th>Shareholder Funds</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="2">
				<div class="container">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8">
								<div class="input-group">
									<span class="input-group-addon">Company Name:</span>
									<select id="selected_company" name='timeline'
									        class="selectpicker show-menu-arrow form-control"
									        multiple
									        data-max-options="1" data-live-search="true">
									</select>
									<span class="input-group-btn" id="company_info_button">
											<button class="btn btn-default">Search!</button>
									</span>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-lg-12">
								<h4>Activities</h4>

								<div class="border">
									<table class="company_info" id="timeline">
										<thead>
										<tr>
											<th style="min-width: 97px;">Data Source</th>
											<th style="min-width: 97px;">Datetime</th>
											<th>Description</th>
										</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h4>Exports</h4>

								<div class="border">
									<table class="company_info" id="export_codes">
										<thead>
										<tr>
											<th style="min-width: 110px;">Export Codes</th>
											<th>Description</th>
										</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<h4>Nature of business</h4>

								<div class="border">
									<table class="company_info" id="sic_codes">
										<thead>
										<tr>
											<th style="min-width: 110px;">SIC Codes</th>
											<th>Description</th>
										</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="3">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div id="map" style="width:100%;height:620px;"></div>
							<div id="controls"></div>
							<table style="width: 100%;">
								<td colspan='2'><img src="/public/img/propensity-scale.png" style="width: 100%; height: 10px;">
								</td>
								<tr>
									<td align="left" style="font-weight:bold">low export propensity</td>
									<td align="right" style="font-weight:bold">high export propensity</td>
								</tr>
							</table>
						</div>
						<div class="col-md-4">
							<div class="border">
								<table class="company_desc" id="company_description">
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{%- endblock -%}
