{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}
{% from "input/macro.njk" import govukInput %}

<div class="govuk-form-group">
    <div class=" app-filter-group-heading">
        {{ govukLabel({
            text: "Market of interest",
            classes: "govuk-!-font-weight-bold app-filter-label"
        }) }}

        {{ govukInput({
            label: {
                text: "Search for country",
                classes: "app-filter-label"
            },
            id: "search-for-country",
            name: "search-for-country"
        }) }}

    </div>
    <div class="app-filter-group-list ">
        {{ govukCheckboxes({
            idPrefix: "market-of-interest",
            name: "market-of-interest",
            classes: "app-filter-checkboxes-group",
            items: params.marketOfInterest
        }) }}
    </div>
</div>




