{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}
{% from "input/macro.njk" import govukInput %}

<checkbox-typeahead
        filter-name="{{'market-of-interest'}}"
        filter-title="{{'Market of interest'}}"
></checkbox-typeahead>
<noscript>
    <div class="govuk-form-group">
        <div class=" app-filter-group-heading">
            {{ govukLabel({
                text: "Market of interest",
                classes: "govuk-!-font-weight-bold app-filter-label"
            }) }}



        </div>
        <div class="app-filter-group-list ">
            {{ govukCheckboxes({
                idPrefix: "market-of-interest",
                name: "market-of-interest",
                classes: "app-filter-checkboxes-group",
                items: params.marketOfInterest
            }) }}
        </div>
    </div>
</noscript>



