{% from "checkbox-typeahead-fieldset/macro.njk" import checkboxTypeaheadFieldset %}

{{
    checkboxTypeaheadFieldset({
        legend: "Market of interest",
        searchLabel:"Search for country",
        id: "market-of-interest",
        items: params.marketOfInterest
    })
}}
