{% from "input/macro.njk" import govukInput %}

<div class="govuk-form-group app-filter-group-heading">
    {{ govukInput({
        label: {
            text: "SIC codes",
            classes: "govuk-!-font-weight-bold app-filter-label"
        },
        id: "sic-codes",
        name: "sic-codes"
    }) }}
</div>
