{% from "input/macro.njk" import govukInput %}

<div class="govuk-form-group app-filter-group-heading">
    {{ govukInput({
        label: {
            text: "Commodity code",
            classes: "govuk-!-font-weight-bold app-filter-label"
        },
        id: "commodity-code",
        name: "commodity-code",
        value: params.commodityCode
    }) }}
</div>
