@import "govuk-frontend/all";



.filter-group-heading {
  background-color: govuk-colour("grey-3");
  padding: 10px;
}

.filter-group-list {
  background-color: white;
  border-style: solid;
  border-color: govuk-colour("grey-3");
  padding: 10px;
  border-top: 0px;
  height: 8.5em;
  overflow-y: scroll;
}

.filter-group-details {
  margin-bottom: 0;
}

