.app-pull-right {
  float: right;
}

.app-filter-label, 
.app-filter-heading,
.app-filter-subheading,
.app-filter-checkboxes-select,
.app-filter-dateinput-group label {
  font-size: 16px;
}

.app-filter-checkboxes-group label {
  font-size: 16px;
  padding-top: 11px;  
}

.app-filter-external-link {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.app-button-submit {
  width: 100%;
}

.app-js-hidden {
  .js-enabled & {
    display: none;
  }
}

body {
  background: purple;
}