{% from "checkbox-typeahead-fieldset/macro.njk" import checkboxTypeaheadFieldset %}

{{
    checkboxTypeaheadFieldset({
        legend: "Market exported to",
        searchLabel:"Search for country",
        id: "market-exported-to",
        items: params.marketExportedTo
    })
}}
