{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}
{% from "input/macro.njk" import govukInput %}

<checkbox-typeahead
        filter-name="{{'market-exported-to'}}"
        filter-title="{{'Market exported to'}}"
        id="{{'market-exported-to'}}"
></checkbox-typeahead>
<noscript>
    <div class="govuk-form-group ">
        <div class=" app-filter-group-heading">
            {{ govukLabel({
                text: "Market exported to",
                classes: "govuk-!-font-weight-bold app-filter-label"
            }) }}
        </div>
        <div class="app-filter-group-list">
            {{ govukCheckboxes({
                idPrefix: "market-exported-to",
                name: "market-exported-to",
                classes: "app-filter-checkboxes-group",
                items: params.marketExportedTo
            }) }}
        </div>
    </div>
</noscript>
