{% extends 'layout.njk' %}

{% set pageName='GoogleDS Dashboard' %}

{% block page_content %}
	<iframe width="1000" height="2530" src="{{ embedUrl }}" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}
