{% from "back-link/macro.njk" import govukBackLink %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "header/macro.njk" import govukHeader %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "footer/macro.njk" import govukFooter %}


{% block pageTitle %}GOV.UK - Department of International Trade{% endblock %}


<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/img/favicon-192x192.png" type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- build:css(src) /public/css/layout.min.css -->
		{#<link href="/public/css/layout.css" media="screen" rel="stylesheet">#}
		<!-- endbuild -->
		{% block head %}{% endblock -%}
		{% block head_styles %}{% endblock -%}
		{% block head_script %}{% endblock -%}
	</head>

	<body class="govuk-template__body {% block body_classes %}{% endblock %}">
		<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

		{% block body_start %}{% endblock -%}

        {{ govukSkipLink({
            text: "Skip to main content",
            href: "#content"
        }) }}

		{% block body_site_header -%}

            {{ govukHeader({
                "serviceName": "Data Hub Labs",
                "serviceUrl": "https://www.datahub.trade.gov.uk/",
                "navigation": [
                    {
                        "href": "/timeline/",
                        "text": "Company Timeline"
                    },
                    {
                        "href": "/acs/",
                        "text": "Company Finder",
                        "active": true
                    },
                    {
                        "href": "/google-dashboard/",
                        "text": "GoogleDS Dashboard "
                    },
                    {
                        "href": "/powerbi-dashboard/",
                        "text": "PowerBI Dashboard"
                    }
                ]
            }) }}

            {{ govukPhaseBanner({
                "tag": {
                    "text": "Beta"
                },
                "html": "This is a new service - your <a href=\"#\" class=\"govuk-link\">feedback</a> will help us to improve it."
            }) }}

		{%- endblock -%}

		{%- block after_header %}{% endblock -%}

		<main id="content" role="main">
			{% block content %}{% endblock %}
		</main>

        {% block footer %}
            <!-- block:footer -->
            {{ govukFooter({
                "meta": {
                    "items": [
                        {
                            "href": "#1",
                            "text": "Aidez-moi"
                        },
                        {
                            "href": "#2",
                            "text": "Politique de confidentialit?"
                        },
                        {
                            "href": "#3",
                            "text": "Contactez-nous"
                        }
                    ]
                }
            }) }}
            <!-- endblock:footer -->
        {% endblock %}
		{% block body_end %}
            <script src="/public/js/all.js"></script>
            <script>window.GOVUKFrontend.initAll()</script>
        {% endblock %}


	</body>
</html>