{% from "company-profile-header/macro.njk" import companyProfileHeader %}
{% from "company-profile-body/macro.njk" import companyProfileBody %}

{% set pageName = 'Find Exporters - ' + title %}

{% extends "_generic.njk" %}

{% block beforeContent %}
    {{ companyProfileHeader(profile) }}
{% endblock %}

{% block content %}
    {{ companyProfileBody(profile) }}

    {% set params = params or {} %}

    <div id="activity-feed-app" data-params="{{ params | dump }}">
        <noscript>Please enable JavaScript in your browser to see the activity feed.</noscript>
    </div>

    <script src="js/activity-feed-app.js"></script>

{% endblock %}
