{% extends "_generic.njk" %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block content %}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-top-4">{{ profile.company_name | title }}</h2>
    <p class="govuk-body">{{ profile.registered_address | formatAddress}}</p>
    <p class="govuk-body">{{ profile.telephone_number }}</p>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Trading Names</td>
                <td class="govuk-table__cell"> what's trading names?
                    {{ profile.domestic_ultimate_business_name }}
                </td>
            </tr>

            {% if profile.headquarter_parent_business_name %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">UK parent company name</td>
                    <td class="govuk-table__cell">{{profile.headquarter_parent_business_name}}</td>
                </tr>
            {% endif %}

            {% if profile.headquarter_address %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">UK parent company address</td>
                    <td class="govuk-table__cell">{{profile.headquarter_address}}</td>
                </tr>
            {% endif %}

            {% if profile.global_ultimate_name %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Global parent company name</td>
                    <td class="govuk-table__cell">{{profile.global_ultimate_name}}</td>
                </tr>
            {% endif %}

            {% if profile.headquarter_address %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Global parent company address</td>
                    <td class="govuk-table__cell">{{profile.headquarter_address}}</td>
                </tr>
            {% endif %}

            <tr class="govuk-table__row app-hidden">
                <td class="govuk-table__cell" scope="row"><a href="#">See more</a></td>
                <td class="govuk-table__header" scope="row"></td>
            </tr>

            {% if profile.company_id %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Companies house ID</td>
                    <td class="govuk-table__cell">{{profile.company_id}}</td>
                </tr>
            {% endif %}

            {% if profile.sic_codes %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">SIC code</td>
                    <td class="govuk-table__cell">{{profile.sic_codes}}</td>
                </tr>
            {% endif %}

            {% if profile.headquarter_type %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Headquarter</td>
                    <td class="govuk-table__cell">{{profile.headquarter_type}}</td>
                </tr>
            {% endif %}

            {% if profile.number_of_family_members %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Family members</td>
                    <td class="govuk-table__cell">{{profile.number_of_family_members}}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}

{% endblock %}
