{% extends 'layout.njk' %}
{% set pageName='Homepage' %}
{% block page_content %}
Welcome to the Data Hub Labs.

Choose the service you would like to use:
<ul>
	<li>
		<a href="/timeline/">Company Timeline</a>
	</li>
	<li>
		<a href="/acs/">Company Finder</a>
	</li>
</ul>
{% endblock %}
