{% extends 'base.njk' %}

{% set homepage_url = "/" %}
{% block service_name %}Data Science{% endblock %}
{% block page_title %}DS - {{ pageName }}{% endblock page_title %}

{% block head %}
<!-- build:css(src) /public/css/app.min.css -->
	{#<link rel="stylesheet" href="/public/css/main.css">#}
	{#<link rel="stylesheet" href="/public/css/components/timeline-form.css">#}
	{#<link rel="stylesheet" href="/public/css/components/timeline-table.css">#}
	{#<link rel="stylesheet" href="/public/css/powerbi-dashboard.css">#}
	<link rel="stylesheet" href="/public/css/styles.css">

<!-- endbuild -->
{% endblock head %}

{% block content %}
    <div class="page-content">

		{#<nav class="top-nav">#}
			{#<ul class="top-nav_list">#}
				{#<li class="top-nav_list_item">#}
					{#<a class="top-nav_link" href="/">Home</a>#}
					{#<a class="top-nav_link" href="/timeline/">Company Timeline</a>#}
					{#<a class="top-nav_link" href="/acs/">Company Finder</a>#}
					{#<a class="top-nav_link" href="/google-dashboard/">GoogleDS Dashboard</a>#}
					{#<a class="top-nav_link" href="/powerbi-dashboard/">PowerBI Dashboard</a>#}
				{#</li>#}
			{#</ul>#}
		{#</nav>#}

		{% block page_content %}{% endblock %}
	</div>
{% endblock %}

{% block body_end %}

	{%- block pageScript %}{% endblock pageScript -%}

	{%- if analyticsId and not user.internal %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ analyticsId }}', 'auto');
		ga('send', 'pageview');
	</script>
	{%- endif -%}

{%- endblock body_end %}
