{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "label/macro.njk" import govukLabel %}

<div class="govuk-form-group">
    <div class=" app-filter-group-heading">
        {{ govukLabel({
            text: "Service used",
            classes: "govuk-!-font-weight-bold app-filter-heading"
        }) }}
    </div>
    <div class="app-filter-group-list ">
        {{ govukCheckboxes({
            idPrefix: "service-used",
            name: "service-used",
            classes: "app-filter-checkboxes-group",

            items: [
                {
                    value: "in-datahub",
                    text: "In Datahub"
                },{
                    value: "not-in-datahub",
                    text: "Not in Datahub"
                },{
                    value: "dit-export-wins",
                    text: "DIT Export Wins"
                },{
                    value: "hmrc-exports",
                    text: "HMRC-Exports"
                },{
                    value: "hmrc-importers",
                    text: "HMRC-Importers"
                },{
                    value: "find-a-buyer",
                    text: "Find a buyer"
                },{
                    value: "intellectual-property-office",
                    text: "Intellectual Property Office"
                }
            ]
        }) }}
    </div>
</div>




